<!DOCTYPE html>
<html>
  <head>
    <title>Arcana Imperii</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <style>
      body {
        background-image: url(images/background.jpg);
        background-position: center center;
        background-size: cover;
        overflow: hidden;
      }
      header {
        background: white;
        border: solid 3px black;
        display: inline-block;
        margin: 0 auto 15px auto;
        padding: 10px;
      }
      h1, .btn {
        font-family: "Soviet", sans-serif;
      }
      .form-control, p {
        font-family: Montserrat, sans-serif;
      }
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 1.5em;
      }
      .btn {
        font-size: 1.8em;
      }
      .form-control {
        display: inline;
        text-align: center;
        margin: 0 auto 15px auto;
        width: 400px;
      }
      form > div {
        display: block;
        position: relative;
        left: 18px;
      }
      .randomize {
        cursor: pointer;
        display: inline-block;
        background-image: url("https://openclipart.org/image/54px/svg_to_png/189685/1387954956.png");
        width: 32px;
        height: 32px;
        margin-left: 10px;
        position: relative;
        top: 10px;
      }
    </style>
    <script>
      $(document).ready(function() {
        $(".randomize").click(function() {
          var choice = $(this).attr("data-what");
          var $element = $("input[name=" + choice + "]");
          
          var yourName = ["Ruler", "Alexander Khan", "Genghis the Great", "Catherine the Great"];
          var nationName = ["the Democratic People's Republic of Something", "Arstotzka", "The Global Nation"];
          var enemyName = ["the Undemocratic People's Republic of Nothing", "Kolechia", "The Empire of Nothing"];
          var allyName = ["the Moderate People's Republic of Anything", "Obristan", "Dacrerus"];
          var currencyName = ["Monies", "Kluqning", "Vlaeri"];
          
          var newName = "";
          switch (choice) {
            case "your_name":
              newName = yourName[Math.floor(Math.random()*yourName.length)];
              break;
            case "nation_name":
              newName = nationName[Math.floor(Math.random()*nationName.length)];
              break;
            case "enemy_name":
              newName = enemyName[Math.floor(Math.random()*enemyName.length)];
              break;
            case "ally_name":
              newName = allyName[Math.floor(Math.random()*allyName.length)];
              break;
            case "currency_name":
              newName = currencyName[Math.floor(Math.random()*currencyName.length)];
              break;
          }
          $element.val(newName);
        });
      });
    </script>
  </head>
  <body>
    <div class="text-center">
      <header>
        <h1>Welcome, new leader!</h1>
        <br />
        <p>Please take the time to set up your new nation.</p>
      </header>
      <br />
      <form action="/start" method="POST">
        <div>
          <input type="text" name="your_name" placeholder="Your name" class="form-control" /> <div class="randomize" data-what="your_name"></div>
        </div>
        <div>
          <input type="text" name="nation_name" placeholder="Your nation's name" class="form-control" /> <div class="randomize" data-what="nation_name"></div>
        </div>
        <div>
          <input type="text" name="enemy_name" placeholder="Your enemy nation's name" class="form-control" /> <div class="randomize" data-what="enemy_name"></div>
        </div>
        <div>
          <input type="text" name="ally_name" placeholder="Your ally nation's name" class="form-control" /> <div class="randomize" data-what="ally_name"></div>
        </div>
        <div>
          <input type="text" name="currency_name" placeholder="Your currency's name" class="form-control" /> <div class="randomize" data-what="currency_name"></div>
        </div>
        
        <input type="submit" class="btn btn-primary btn-lg" value="Begin your rule" />
      </form>
    </div>
  </body>
</html>