<!DOCTYPE html>
<html>
  <head>
    <title>Arcana Imperii</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <style>
      body {
        font-family: Soviet, sans-serif;
      }
      h1 {
        font-size: 4em;
      }
      .btn {
        font-size: 2em;
      }
      img {
        width: 488px;
        height: 476px;
      }
    </style>
  </head>
  <body>
    <div class="text-center">
      <img src="images/you_win.jpg" />
      <h1>You win!</h1>
      <br />
      <a href="/setup" class="btn btn-primary btn-lg">Play again?</a>
    </div>
  </body>
</html>