@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@font-face {
    font-family: Soviet;
    src: url(../fonts/soviet/Soviet2.ttf);
}
@font-face {
    font-family: Propaganda;
    src: url(../fonts/propaganda.ttf);
}